
<div class="container">
    <div class="row head">
        <div class="col-md-2"> Firstname </div>
        <div class="col-md-2"> Lastname </div>
        <div class="col-md-2"> Middlename </div>
        <div class="col-md-3"> Office </div>
        <div class="col-md-2"> Photo </div>
        <div class="col-md-1"> Action </div>
    </div>
    <div class="row" *ngFor="let r of receptionists">
        <div class="col-md-2"> 
            <input type="text" [(ngModel)]="r.firstName" [disabled]="editableId !== r.id">
        </div>
        <div class="col-md-2"> 
            <input type="text" [(ngModel)]="r.lastName" [disabled]="editableId !== r.id">
        </div>
        <div class="col-md-2"> 
            <input type="text" [(ngModel)]="r.middleName" [disabled]="editableId !== r.id">
        </div>
        <div class="col-md-3"> 
            <select [(ngModel)]="r.officeId" required [disabled]="editableId !== r.id">
                <option *ngFor="let o of offices" [value]="o.id">{{o.address}}</option>
            </select>
        </div>
        <div class="col-md-2">
            <img src={{r.photoUrl}} width='100'/>
            <input type="text" [(ngModel)]="r.photoUrl" [disabled]="editableId !== r.id">
        </div>
        <div class="col-md-1">
            <button class="btn btn-warning" *ngIf="editableId !== r.id" (click)="edit(r.id)"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-success" *ngIf="editableId === r.id" (click)="save(r)"><i class="fa fa-check"></i></button>
            <button class="btn btn-danger" (click)="delete(r.id)"><i class="fa fa-trash"></i></button>
        </div>
    </div>
    <!-- -------Create new-------- -->
    <form ngNativeValidate>
        <div class="row">
            <div class="col-md-2">
                <input type="text" [(ngModel)]="newReceptionist.firstName" />
            </div>
            <div class="col-md-2">
                <input type="text" [(ngModel)]="newReceptionist.lastName" />
            </div>
            <div class="col-md-2">
                <input type="text" [(ngModel)]="newReceptionist.middleName" />
            </div>
            <div class="col-md-3">
                <select [(ngModel)]="newReceptionist.officeId" required>
                    <option *ngFor="let o of offices" [value]="o.id">{{o.address}}</option>
                </select>
            </div>
            <div class="col-md-2">
                <input type="text" [(ngModel)]="newReceptionist.photoUrl" />
            </div>
            <div class="col-md-1">
                <button (click)="create()" class="btn btn-success"><i class="fa fa-plus"></i></button>
            </div>
        </div>
        <div class="col-md-2">
            <label>Email:</label>
            <input type="text" [(ngModel)]="newReceptionist.email" />
        </div>
    </form>
</div>

<div *ngIf="errorsPresent">
    <p style="color:red"> {{error.error.error}}</p> 
</div>
